---
const personalImageAlt = "Miguel Ángel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img class="rounded-full shadow-lg size-16" src="https://media.licdn.com/dms/image/D4E03AQGjBJot71FUEw/profile-displayphoto-shrink_200_200/0/1720049039634?e=2147483647&v=beta&t=kmNul_tVn598QGdoQz870CYWROabVHk0iYNIdHWOOJY" alt={personalImageAlt}/>
    <a
      href="https://www.linkedin.com/in/victor-mosquera-capy"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available for hire</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white" >
    Hey, I'm victor hugo
  </h1>
  <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
    5 years of experience. 
    <strong>Full stack Web development and Web3 development.</strong> 
    From Medellin, Colombia 🇨🇴. Persevering in building robust and scalable applications.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    
    <SocialPill href="mailto:viktor1103@gmail.com">
      <MailIcon class="size-4" />
      contact me
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/victor-mosquera-capy">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/viktorhugo">
      <GitHubIcon class="size-5 md:size-6" />
      GitHub
    </SocialPill>
  </nav>
</div>
